[Desktop Entry]
Name=GFontBrowser
Comment=A font browser for GTK+, Fontconfig, Pango based systems.
Type=Application
Encoding=UTF-8
Exec=gfontbrowser %D
Icon=uk.org.winder.GFontBrowser.svg
Terminal=false
StartupNotify=true
Categories=GTK;font;typeface
